<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Automation test run">
    <test verbose="2" preserve-order="true"
          name="API TESTS">

        <classes>
            <class name="HerokuHttpRequests">

            </class>
        </classes>

    </test>
</suite>